.tag-pill {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin: 0.2em;
  font-size: 0.9;
  border-radius: 9999px;
  text-decoration: none;

  background-color: $light-background-secondary;
  color: $light-color;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-background-secondary;
    color: $dark-color-variant;
  }

  @media (prefers-color-scheme: light) {
    background-color: $light-background-secondary;
    color: $light-color;
  }

  [data-theme=dark] & {
    background-color: $dark-background-secondary;
    color: $dark-color-variant;
  }

  [data-theme=light] & {
    background-color: $light-background-secondary;
    color: $light-color;
  }
}

@mixin tag-pill-icon($unicode, $light-bg, $dark-bg) {
  background-color: $light-bg;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-bg;
  }

  @media (prefers-color-scheme: light) {
    background-color: $light-bg;
  }

  [data-theme=dark] & {
    background-color: $dark-bg;
  }

  [data-theme=light] & {
    background-color: $light-bg;
  }

  &::before {
    content: $unicode;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 0.4em;
  }
}

.tag-pwn {
  @include tag-pill-icon("\f0e7", #ff9a1f, #c25e0c);
}

.tag-web {
  @include tag-pill-icon("\f0ac", #46ade3, #0572ad);
}

.tag-reverse {
  @include tag-pill-icon("\f0ad", #16a085, #16a085);
}

.tag-hardware {
  @include tag-pill-icon("\f2db", #f56e85, #d11d3c);
}

.tag-misc {
  @include tag-pill-icon("\f059", #f5d738, #d1a402);
}

.tag-crypto {
  @include tag-pill-icon("\f023", #e073eb, #A21CAF);
}

.tag-forensics {
  @include tag-pill-icon("\f577", #fc7eb9, #b81161);
}
